Index/
Local/
*.cache
*.cache/
Cache/
Installed\ Packages/
*.last-run*
*.system*
*.sublime-workspace
*.sublime-project
Backup/
Packages/HTML-CSS-JS\ Prettify
Packages/SublimeLinter*
Packages/User/Color Highlighter/*
Packages/bz2
Packages/User/Package Control.merged-ca-bundle
Packages/User/Package Control.user-ca-bundle
Packages/Jasmine JS
